<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> <!-- bean definitions here -->



    <bean id="Phone" class="org.example.Phone" />

    <bean id="Address" class="org.example.Address" />



    <bean id="Student" class="org.example.Student">
        <constructor-arg index="0" type="int" value="1" />
        <constructor-arg index="1" value="Noah"/>
        <constructor-arg index="2" ref="Phone" />
        <constructor-arg index="3" ref="Address" />
    </bean>


</beans>